<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <%= @arquife.path %>
</p>

<p>
  <strong>Classe:</strong>
  <%= @arquife.classe %>
</p>

<p>
  <strong>Course:</strong>
  <%= @arquife.course %>
</p>

<%= link_to 'Edit', edit_arquife_path(@arquife) %> |
<%= link_to 'Back', arquives_path %>
