<h1>Home - Class Platform Rails</h1>
<p><%= link_to "administrators", administrators_path %></p>
<p><%= link_to "professors", professors_path %></p>
<p><%= link_to "students", students_path %></p>
<p><%= link_to "courses", courses_path %></p>
<p><%= link_to "arquives", arquives_path %></p>